@media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }
  
#r1{
    background-color:lightpink;
    width: 80px;
    height: 40px;
    color: white;
}
#r2{
    background-color: lightpink;
    width: 80px;
    height: 40px;
    color:white;
}
#r1:hover{
    background-color: white;
    color: lightpink;
}
#r2:hover{
    background-color: white;
    color: lightpink;
}